@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto+Slab:wght@400;500;600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: #1a1c28;
  font-family: "Roboto Slab";
}

.grid-container {
  width: 60%;
  margin: 5rem auto 5rem auto;
  display: grid;
  grid-template-areas:
    'a a a a b b'
    'c c c d d d'
    'c c c e e e';
  gap: 1rem;
}

.grid-container > div {
  text-align: center;
}

.grid-row-1{
  padding: 6rem 0;
}

.grid-row-2{
  padding: 7.5rem 0;
}

.grid-row-3{
  padding: 2rem;
}

.grid-row-4{
  padding: 3rem;
}

.grid-item1{
  grid-area: a;
  background: #eb5020;
}

.grid-item2{
  grid-area: b;
  background: #ffa401;
}

.grid-item3{
  grid-area: c;
  background: #05aa42;
}

.grid-item4{
  grid-area: d;
  background: #01abf9;
}

.grid-item5{
  grid-area: e;
  background: #01abf9;
}



/* FLEXBOX */

.flexbox{
  display: flex;
  justify-content: center;
  background: #fff;
  padding: 8rem 5rem;
}

.flex-container-1,
.flex-container-2,
.flex-container-3{
  width: 25%;
  background: #e28525;
  padding: 3rem;
  border-radius: .3rem;
}

.flex-container-2{
  background: #016972;
}

.flex-container-3{
  background: #00403f;
}

.flex-container-1 img,
.flex-container-2 img,
.flex-container-3 img{
  margin-bottom: 2rem;
}

.flex-container-text h2{
  font-size: 2.5rem;
  padding-bottom: 2rem;
  color: #fff;
}

.flex-container-text p{
  margin-bottom: 3rem;
  color: #fff;
}

.btn{
  padding: 1rem 2rem;
  border-radius: 2rem;
  border: none;
  outline: none;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 2rem;
  font-family: "lato";
}

.btn1{
  color: #e28525;
}

.btn2{
  color: #016972;
}

.btn3{
  color: #00403f;
}